.service {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }



  .service-head {
    display: flex;
    flex-direction: column;
    text-align: center;
    width:fit-content;
    height: fit-content;
    justify-items: center;
    align-items: center;
    padding-bottom: 40px;
    margin: 10px auto;
    
  }

  .service-head>h2{
    font-size: 35px;
  }

  .tst-image {
    position: absolute;
    left: 80px;
  }

  .skill-bx {
    background: #ffffff;
    text-align: center;
    padding: 10px;
    margin-top: 0x auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* border: 2px solid black; */
    justify-content: center;
  }

 
  .skill h1 {
      width: fit-content;
      height: fit-content;
      text-align: center;
  }
  .skill p {
      color: var(--dark);
      letter-spacing: 0.8px;
      line-height: 1.5rem;
      margin: 0 auto;
  }
  .skill-slider {
    width: 1200px;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    padding: 10px;
    align-items: center;
    justify-items: center;
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center  ;
    width: 300px;
    height: fit-content;
    text-align: center;
    padding: 25px;

  }
  #img {
    display: block;
    width: auto;
    height: 100px;

  }


  .item>h2 {
    height: 100px;
    width: fit-content;
  }

  .item>p {
    height: 200px;
    width: fit-content
  }

  
  .btn1 {
    width: 60px;
    justify-content: center;
    align-items: center;
  } 

@media  screen and (max-width: 1165px)  {
.tst-image {
  display: none;
}

.service-head {
  position: relative;

  
}

button {
  display: none;
}
}

  