.hero {
    display: flex;
    justify-content:space-around;
    height: 80vh;
    background: var(--main);
    border-radius: 0px 0px 396px 0px;
 
}

.left-h {
    padding: 2rem;
    padding-top: 1.5rem;
    flex: 3;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    width: 100%;

}

.right-h {
    width: fit-content;
    height: min-content;
    padding: 2rem;
    padding-top: 1.5rem;
    flex: 3;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}


.hero-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 0 auto;
    padding-left: 50px;

 
}

.heading {
    color: #FFFFFF;
    opacity: 1;
}

.hero-p{
    color: #FFFFFF;
   
}

.hero-btn{
    border-radius: 35px;
    width: 200px;
}

.arrow {
    background-color: transparent;
    height: 100%;
    object-fit: cover;
    width: 20%;
    padding-left: 20px;
}



.hero-image {
    align-items: center;
    margin: 0 auto;
    width: 35rem;
    position: relative;
    top: 100px;
    left: -70px;
}


@media  screen and (max-width: 1165px)  {
    
    .hero{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
        width: auto;
       
       
    }
    .hero-image {
        align-items: center;
        margin: 0 auto;
        position:initial;
        display: flex;
        width: 15rem;
        align-self: center;

    }

    .hero-text {
        font-size: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        padding-left: 0;
        height: fit-content;
    }

    .left-h {
        padding: 0;
        margin: 0 auto;
       font-size: 10px;

        
        
    }
    .right-h {
        flex-direction: column;
        padding: 0;
    }
}